/* @import "./variables.css"; */
body {
  /* background-color: red;
  color: rebeccapurple; */
  font-family: "Roboto", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-textPrimary);
}
