body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-textPrimary);
  font-size: var(--c-font-size-200);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Header */
header {
  height: 64px;
  position: relative;
  display: flex;
  padding: 48px 20px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
header p {
  font-weight: var(--c-font-weight-700);
  font-size: var(--c-font-size-400);
  color: var(--color-primary);
  width: 200px;
  line-height: var(--c-line-height-heading);
}

/* Cards container */
.container {
  width: 80%;
}

.container-header {
  display: flex;
  align-items: center;
}
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1.2rem, 3rem;
  grid-gap: 6px;
  padding-top: 12px;
}

.incomes-card-container {
  background-color: var(--color-selectedBg);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.incomes-card-header {
  font-weight: var(--c-font-weight-700);
}

.outcomes-card-container {
  background-color: var(--color-selectedBg);
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outcomes-card-header {
  font-weight: var(--c-font-weight-700);
}
.balance-card-container {
  background-color: var(--color-selectedBg);
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.balance-card-header {
  font-weight: var(--c-font-weight-700);
}

.incomes {
  color: var(--color-success);
}
.outcomes {
  color: var(--color-textSell);
}
.balance {
  color: var(--color-success);
  font-weight: var(--c-font-weight-700);
}
.limits-container {
  display: none;
  border: 1px solid;
  border-color: var(--color-bg3);
  border-radius: 12px;
  padding: 8px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
}

.limit-container {
  background-color: var(--color-bg3);
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  width: 170px;
  border-radius: 8px;
  margin-right: 4px;
}

/*Buttons*/
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.primary-button {
  padding: 8px;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.income-button {
  background-color: var(--color-success);
}
.outcome-button {
  background-color: var(--color-sellHover);
}

.addlimits-button {
  /* display: none; */
  width: 100%;

  grid-column-start: 3;
  grid-column-end: 4;
  cursor: pointer;
  border: 1px, dashed;
  background-color: var(--color-bg);
  color: var(--color-textThird);
  border-radius: 8px;
}

/*circle buttons*/
.button-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.button-with-text {
  display: flex;
  flex-direction: column;
}

.button-with-text .text {
  font-size: 12px;
}

.circle-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: transparent;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.circle-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.circle-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.oval-button {
  width: 100px;
  height: 32px;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid #ccc;
  color: var(--color-textWhite);
  border-radius: 32px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.oval-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.oval-button-container {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-bottom: 24px;
  margin-top: 12px;
}

.cash {
  border-color: var(--color-textBuy);
}
.credit-card {
  border-color: var(--color-sellHover);
}
.debit-card {
  border-color: var(--color-primary);
}

.circle-button:disabled {
  cursor: not-allowed;
}

.circle-button:not(:disabled) {
  cursor: pointer;
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    grid-gap: 4px;
    padding-top: 2rem;
  }

  .balance-card-container {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .addlimits-button {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .limits-container {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .limit-container {
    padding: 2px;

    font-size: 12px;
  }

  .modal-content {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}
