body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-textPrimary);
  font-size: var(--c-font-size-200);
  box-sizing: border-box;
}
/* Header */
header {
  max-width: 100vw;
  height: 64px;
  position: relative;
  display: flex;
  padding: 48px 20px;
  justify-content: space-between;
  align-items: center;
}
header p {
  font-weight: var(--c-font-weight-700);
  font-size: var(--c-font-size-400);
  color: var(--color-primary);
  width: 200px;
  line-height: var(--c-line-height-heading);
}

.container-sidebar {
  display: flex;
  padding-top: 32px;
}
/* Sidebar */
.sidebar {
  width: 17rem;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
  width: 100%;
  background-color: var(--color-CardBg);
  padding: 12px;
}

.menu-wrap {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.sidebar a {
  color: var(--color-textPrimary);
  font-size: 16px;

  padding: 16px;
}
.sidebar-menu-item {
  padding: 12px;
}

.sidebar a:hover {
  color: var(--color-gradientBrand);
  background-color: var(--color-selectedBg);
  cursor: pointer;
  width: 100%;
}

/* Cards container */
.container {
  padding-left: 40px;
  width: 100%;
  padding-right: 2rem;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}

.incomes-card-container {
  background-color: var(--color-selectedBg);
  padding: 15px;
  border-radius: 8px;
  min-width: 280px;
  max-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.incomes-card-header {
  font-weight: var(--c-font-weight-700);
}

.outcomes-card-container {
  background-color: var(--color-selectedBg);
  padding: 15px;
  border-radius: 8px;
  min-width: 280px;
  max-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outcomes-card-header {
  font-weight: var(--c-font-weight-700);
}
.balance-card-container {
  background-color: var(--color-selectedBg);
  padding: 15px;
  border-radius: 8px;
  min-width: 280px;
  max-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.balance-card-header {
  font-weight: var(--c-font-weight-700);
}

/* Table */
.table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 36px;
}

.table-row {
  display: contents;
}

.table-cell {
  padding: 12px 15px;
  text-align: left;
}

.table .header {
  color: var(--color-textThird);
  font-weight: bold;
  text-transform: uppercase;
}

.table-row:nth-child(even) {
  background-color: var(--color-CardBg);
}

.table-row:hover {
  background-color: var(--color-CardBg);
  cursor: pointer;
}
